!gradle/wrapper/gradle-wrapper.jar
*.class
*.iml
*.ipr
*.iws
*.log
*/.gradle/
*/bin/
*/build/
.DS_Store
.classpath
.gradle/
.gradletasknamecache
.idea/
.loom-cache/
.project
.settings/
.vscode/
bin/
build/
dev/
gradle-app.setting
net/
out/
run-*/
run/
runs/
tests/__pycache__
tests/config.py
*/.eclipse
